@keyframes falling {
	10% {
		transform: rotateX(0deg);
	}
	20% {
		transform: rotateX(10deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

@keyframes rising {
	0% {
		transform: rotateX(90deg);
	}
	20% {
		transform: rotateX(80deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
